<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD</title>
</head>
<body>

<p>

<form method="post" action="#" th:action="@{/admin/actionUser}" th:object="${userEntity}">
    <input type="submit" name="action" value="Delete">
    <input type="submit" name="action" value="Update or Add">

    <p>
    <table border="1">
        <tr>
            <th> </th>
            <th>id</th>
            <th>Username</th>
            <th>E-MAIL</th>
            <th>Password</th>
            <th>Roles</th>
        </tr>

        <tr th:each="user : ${user_list}">
            <td><input type="radio" th:field="${userEntity.id}" th:value="${user.id}"> </td>
            <td th:utext="${user.id}">id</td>
            <td th:utext="${user.username}">Username</td>
            <td th:utext="${user.email}">E-MAIL</td>
            <td th:utext="${user.password}">Password</td>
            <td th:utext="${user.getRolesString()}">Roles</td>
        </tr>

    </table>
</form>
    <a th:href="@{/}">Home</a>
</body>
</html>