<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form method="post" action="#" th:action="@{/updateUser}" th:object="${rEntity}">
    <input type="text" placeholder="Username" th:field="*{username}"><br>
    <input type="text" placeholder="E-mail" th:field="*{email}"><br><br>

    <ul>
        <li th:each="role : ${role_set}">
            <input type="checkbox" th:field="${rEntity.addRole(role)}" th:value="${role.role}">
        </li>
    </ul>
    <input type="submit" value="Update">
</form>
</body>
</html>