<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form method="post" action="#" th:action="@{/updateUser}" th:object="${rEntity}">
    <input type="text" placeholder="Username" th:field="*{username}"><br>
    <input type="text" placeholder="E-mail" th:field="*{email}"><br>
    <input type="password" placeholder="Password" th:field="*{password}"><br><br>

    <label>Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${role_list}"
               th:text="${role.role}"
               th:value="${role.role}"
               th:field="*{roles}"
        />
    </label>

    <input type="submit" value="Update">
</form>

<a th:href="@{/}">Home</a>
</body>
</html>