<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<div>
    <h3 th:text="${current_user}"></h3>
    <sec:authorize access="!isAuthenticated()">
        <h4><a th:href="@{/login}">Log in</a></h4>
        <h4><a th:href="@{/registration}">Register</a></h4>
    </sec:authorize>

    <sec:authorize access="hasAuthorities('ROLE_USER')">
    <h4><a th:href="@{/user}">Show account information</a></h4>
    </sec:authorize>
    <sec:authorize access="hasAuthorities('ADMIN')">
    <h4><a th:href="@{/admin/admin}">Clients</a></h4>
    </sec:authorize>
    <sec:authorize access="isAuthenticated()">
        <h4><a th:href="@{/logout}">Log out</a></h4>
    </sec:authorize>
</div>
</body>
</html>