<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:th= "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet"
          href="webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container m-5 mx-auto" style="width: 300px;">

    <form method="POST" th:action="@{/registration}" th:object="${userForm}">
        <div class="form-group">
            <div class="form-group">
                <h2 class="font-weight-bold">Registration</h2>
            </div>
            <div class="form-group">
                <label for="Username">Username</label>
                <input class="form-control" type="text" th:field="*{username}" id="Username" autofocus>
                <label for="E-mail">E-mail</label>
                <input class="form-control" type="text" th:field="*{email}" id="E-mail">
                <label for="Password">Password</label>
                <input class="form-control" type="password" th:field="*{password}" id="Password">
                <label for="passwordConfirm">Confirm your password</label>
                <input class="form-control" type="password" th:field="*{passwordConfirm}" id="passwordConfirm">
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary form-control" type="submit">Register now</button>
        </div>

    </form>
    <div class="form-group">
        <button class="btn btn-link form-control" onclick="goBack()"></button>
    </div>
</div>

<div>
    <script src="webjars/jquery/jquery.min.js"></script>
    <script src="webjars/bootstrap/js/bootstrap.min.js"></script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>
</body>
</html>